@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap');

:root{
    --header-bg-color: #172030;
    --header-fg-color: #FFFFFF;
    --footer-bg-color: #ffc4a1;
    --footer-fg-color: #111111;
 }

 h1, h2, h3, h4, h5{
    font-family: 'Roboto Slab', serif;
 }
 
 h1{
     background-color: var(--footer-bg-color);
     color: var(--footer-fg-color);
     text-align: center;
     padding: 10px 10px;
     width: 100%;
     margin-left: auto;
     margin-right: auto;
 }
 
 h3{
    text-align: center;
    font-size: 1.5em;
 }
 
 h2{
     width: 60%;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
 }

 h4{
     text-decoration: underline;
     font-size: 1.5em;
 }

 h5{
    font-size: 1.5em;
    text-align: center;
}
 
 form{
     text-align: center;
     font-family: 'Roboto', sans-serif;
 }
 
 nav{
    font-family: 'Roboto', sans-serif;
 }
 .navbar{
    position: fixed;
    width: 100%;
    top: 0;
 }
 .navbar-inverse .navbar-brand {
     color: inherit;
     }
.navbar-inverse .navbar-nav>li>a {
    color: #ffe0cd;
     }
 
 .navbar-inverse {
     background-color: var(--header-bg-color);
     color: var(--header-fg-color);
 }   

 body{
    font-family: 'Roboto', sans-serif;
     color: #000000;
     background-color: #fffded;
     line-height: 1.75;
 }
  
 
 .btn-primary{
     background-color: var(--header-bg-color);
     color: var(--header-fg-color);
     padding-top: 10px;
     border-radius: 100px;
     border: none;
     font-family: 'Roboto Slab', serif;
     width: 99%;
     margin-left:auto;
     margin-right:auto;
 }

 .btn-primary:hover{
     background-color: #ffe0cd;
     color: #000000;
 }
 
 button{
     background-color: var(--header-bg-color);
     color: var(--header-fg-color);
     font-family: 'Roboto Slab', serif;
     border-radius: 70px;
     min-width: 10%;
 }
img.itemImage{
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 500px;
     margin-left: auto;
     margin-right: auto;
}

 img{
     margin-left: 7px;
     margin-right: 7px;
     margin-bottom: 3px; 
 }

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

section#itemsInner{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

article#items{
    position: relative;
}

div.moreright {
    position: absolute;
    height: 100%;
    width: 2em;
    background: rgba(187, 41, 41, 0);
    bottom: 0;
}

div.moreleft {
    left: 0;
}

div.moreright {
    left: 0;
}

.scrollleft, .scrollright {
    position: absolute;
    transform: scaleY(2);
    bottom: 50%;
    font-size: 1.2em;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 10px;
}

.scrollleft{
    left: 0;
}

.scrollright{
    right: 0;
}

a.left-button, a.right-button {
    text-decoration: none;
    color: rgba(85, 85, 85, 0.644);
}

hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid black;
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-fg-color);
    margin-top: 10px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.banner-img {
    width: 60%;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 65px; 
}

.about{
    text-align: center;
    width: 60%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    text-align: center;
    width: 50%;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.coatproject{
    text-align: justify;
    overflow: auto;
}

.citation, .citation:hover{
    color: black;
    text-decoration: none;
}

.TaskApp{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.Task{
    display: inline;
    height: auto;
    max-width: 30%;
    min-width: 20%;
    padding: 1%;
     margin-left: auto;
     margin-right: auto;
}

img.BoxSide{
    display: inline;
    height: auto;
    max-width: 40%;
    min-width: 30%;
    padding: 0.5%;
     margin-left: auto;
     margin-right: auto;
}
img.TherapyBox{
    display: inline;
    height: auto;
    max-width: 25%;
    min-width: 20%;
     margin-left: auto;
     margin-right: auto;
}